@model ClarusBlogBoard.Models.ContentTeam

@{
    ViewBag.Title = "Team Member Details";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}


<div id="heading" class="page-header">
    <h2>Team Member Details</h2>
</div>

<fieldset class="applicationFieldset">
    <legend>@Html.DisplayFor(model => model.TeamName) </legend>

    <div class="display-label"><h4>Image</h4></div>
    <div class="display-field col-lg-4">
        @*<img src="@Url.Content("~/Content/img/teamPhotos/"+@Html.DisplayFor(model => model.TeamImage))" class="userImage" />*@
    </div>

    <div class="display-label"><h4>Title</h4></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeamTitle)
    </div>

    <div class="display-label"><h4>description</h4></div>
    <div class="display-field">
        <p class="whitespaced">
            @Html.DisplayFor(model => model.TeamDescription)
        </p>
    </div>
</fieldset>

    <p>
        <a href="@Url.Action("Edit", "Team", new { id=Model.TeamID })" class="btn btn-info">Edit</a> &nbsp;
        <a href="@Url.Action("Index", "Team")" class="btn btn-primary">Back</a>
    </p>