@model IEnumerable<ClarusBlogBoard.Models.ContentTeam>
@{
    ViewBag.Title = "Clarus Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-container">

    <nav class="navbar" id="navbar" role="navigation">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-left" href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Content/img/logo.png")" alt="Clarus Group Logo"/>Clarus Group</a>
            <div class="collapse nav-collapse navbar-responsive-collapse pull-right" id="dropyDowny">
                <ul class="nav nav-pills">
                    <li><a href="@Url.Action("Details", "About", new { id = 1 })">About</a></li>
                    <li><a href="@Url.Action("Details", "Project", new { id = 1 })">Project</a></li>
                    <li><a href="@Url.Action("Details", "Security", new { id = 1 })">Security</a></li>
                    <li><a href="@Url.Action("Details", "Consulting", new { id = 1 })">Consulting</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                    @*<li><a href="@Url.Action("Blog", "BlogPost")">Blog</a></li>*@
                    <li><a href="@Url.Action("Jobs", "JobPost")">Careers</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <section class="main clearfix wrapper" id="team">
        <h2>The Clarus Team</h2>
        <hr />
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-4">
                    <img src="@Url.Content("~/Content/img/teamPhotos/" + @Html.DisplayFor(modelItem => item.TeamImage))" class="contentImage img-thumbnail" />
                </div>
                <div class="col-lg-8">
                    <div>
                        <h3>@Html.DisplayFor(modelItem => item.TeamName)</h3>
                    </div>
                    <div>
                        <h4>
                            @Html.DisplayFor(modelItem => item.TeamTitle)
                        </h4>
                    </div>

                    <p class="Whitespaced">@Html.DisplayFor(modelItem => item.TeamDescription)</p>
                </div>
            </div>
            <hr />
        }
    </section>

</div>




