@model ClarusBlogBoard.Models.Application

@{
    ViewBag.Title = "Create New Application";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<div id="heading" class="page-header">
    <h2>Create New Application</h2>
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Application Information</legend>

        <div class="editor-label">
            <h4>For Applicant</h4>
        </div>
        <div class="editor-field">
            @Html.DropDownList("ApplicationApplicantID", String.Empty)
            @Html.ValidationMessageFor(model => model.ApplicationApplicantID)
        </div>

        <div class="editor-label">
            <h4>Job Applied For</h4>
        </div>
        <div class="editor-field">
            @Html.DropDownList("ApplicationJobID", String.Empty)
            @Html.ValidationMessageFor(model => model.ApplicationJobID)
        </div>

        <div class="editor-label">
            <h4>Assigned To</h4>
        </div>
        <div class="editor-field">
            @Html.DropDownList("ApplicationAssignedID", String.Empty)
            @Html.ValidationMessageFor(model => model.ApplicationAssignedID)
        </div>

        <div class="editor-label">
            <h4>Notes</h4>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ApplicationNotes)
            @Html.ValidationMessageFor(model => model.ApplicationNotes)
        </div>

        <div class="editor-label">
            <h4>Interview Date</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InterviewDate)
            @Html.ValidationMessageFor(model => model.InterviewDate)
        </div>

        <div class="editor-label">
            <h4>Application Status</h4>
        </div>
        <div class="editor-field">
            @Html.DropDownList("ApplicationStatusID", String.Empty)
            @Html.ValidationMessageFor(model => model.ApplicationStatusID)
        </div>

        <p>
            <input type="submit" value="Create" class="btn btn-primary" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
