@model ClarusBlogBoard.Models.Application
@{
    ViewBag.Title = "Delete Application";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}
<div id="heading" class="page-header">
    <h2>Delete</h2>
</div>
<div class="col-lg-6 jobDeleteInfo">
    <h3 class="deleteQuestion">Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>Application</legend>

        <div class="display-label">
            <h4>For Job Applicant</h4>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.JobApplicant.ApplicantFirstName)
        </div>

        <div class="display-label">
            <h4>For Job Post</h4>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.JobPost.JobName)
        </div>

        <div class="display-label">
            <h4>Assigned To</h4>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AssignedTo.AssignedName)
        </div>

        <div class="display-label">
            <h4>Notes</h4>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ApplicationNotes)
        </div>

        <div class="display-label">
            <h4>Interview Date</h4>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.InterviewDate)
        </div>

        <div class="display-label">
            <h4>Status</h4>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ApplicationStatus.ApplicationStatusName)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </p>
    }
</div>
